{% extends 'base.html' %}
{% block main %}
<main id="upload-main">
    <h1 id="upload-title">推定に必要なデータをアップロード</h1>
    <form method="POST" action="/upload" enctype="multipart/form-data" id="upload-form">
       <ul>
        {% for meta in form_data %}
        <li class="upload-form-li">
            <label for="{{meta.id}}">{{meta.filename_jp}}ファイル({{meta.filename}}.mp4)</label>
            <input type="file" name="{{meta.filename}}" id="{{meta.id}}">
        </li>
        {% endfor %}
        </ul>
        <button type="submit" class="btn" id="upload-btn">アップロードする</button>
    </form>
</main>
{% endblock main %}